
:root {
  /* colors */
  --white: #F6F6F6;
  --purpple: #C44EED;
  --blue: #2C7AA6;
  --yellow: #E1CE1E;
  --black: #262626;
  --all-black: #000000;
  --dark-grey: #414141;
  --keyApi: "AIzaSyBSktgf1Tr2t_TF91nyjDePeTdWm3yqtJU";

  /* fonts */
  --iceland: 'Iceland', cursive;
  --arimo: 'Arimo', sans-serif;
}
.modal-sheet .modal-dialog {
  width: 380px;
  transition: bottom .75s ease-in-out;
}
.modal-sheet .modal-footer {
  padding-bottom: 2rem;
}

#div{
  color: #262626;
}
.modal-alert .modal-dialog {
  width: 380px;
}

.modal-tour .modal-dialog {
  width: 380px;
}

#exampleModalLabel{
  font-size: 70px;
  color: var(--white);
  font-family: var(--iceland);
  height: 150px;
  padding-left: 7rem;
  flex-direction: column;
   display: flex;
}

#floatingInput {
  background-color: var(--black) !important;
}

#floatingInput {
  background-color: var(--black) !important;
}

.modal-content {
  background-color:  var(--dark-grey) !important;
}

.form-control {
  background-color: var(--black) !important;
  border-radius: 4px !important;
  border: none !important;
  border-left: 5px solid #C44EED !important;
  color: var(--white);
}

.modal__links {
  margin-bottom: 15px;
}

.modal__links small, .modal__links a{
  color: var(--purpple) !important;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-top: 3px;
}